.footer {
    background-color: #ccc;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}
.footer--text{
    color: #00282e;
    margin: 5px 0 0 15px;
    padding: 10px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-stretch: normal;
}
.footer-links{
    color: #00282e;
    margin: 5px 280px; 
    padding: 10px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-stretch: normal;
}