<!-- oauth para autenticacion flex--space--around flex--center flex--space--between -->
<div class="flex flex--space--around">
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
      foto aqui
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="example-container">
        <div class="formLitle">
          <mat-card> <br>
          <!-- user id -->
            <mat-card-title>Iniciar sesi&oacute;n</mat-card-title>
            <mat-card-content>
              <form  [formGroup]="registro" >
                <!-- <div> -->
                  <mat-form-field>
                    <input matInput placeholder="Cuenta de usuario" class="field" style="width: 100%" formControlName ="cuenta">
                    <mat-error *ngIf="!this.registro.get('cuenta').valid"> cuenta no registrada</mat-error>
                  </mat-form-field> <br>
                <!-- </div> -->
                  <!-- passwor user -->
                <!-- <div> -->
                  <mat-form-field>
                    <input matInput placeholder="Ingrese su contraseña" [type]="hide ? 'password' : 'text'" formControlName ="passwor">
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </mat-form-field>
                <!-- </div> -->
              </form>
              <!-- Botones  &xacute; -->
              <div class="flex flex--center example-button-row">
                <div>
                  <button mat-flat-button class='color' (click)="ingreso()" >INICIAR SESI&Oacute;N</button>
                </div><br>
                <a href='olvido su contra' name='Recuperar'>&Oacute;lvido su contrasenia</a>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<app-foother></app-foother>
