  <div >
    <mat-card-content>
      <mat-grid-list cols="1" rowHeight="100px">
        <div class="color">
          <mat-card class='example-container' class="color">
              <div>
                <img href='https://upload.wikimedia.org/wikipedia/commons/d/d1/UMSS.png'>
              </div>
              <div>
                <mat-card-title class="tipografiaColor">
                  Universidad Mayor de San Simon <br>
                  Facultad de Ciencia y tecnologia
                </mat-card-title>
              </div>
              <!-- <div>
                <ul class="nav nabvar-nav" routerLinkActive="active">
                  <li class="nav-item"><a class="nav-link " routerLink="listar-reservas">Lista reservas</a></li>
                  <li class="nav-item"><a class="nav-link" routerLink="realizar-reservas">Realizar reserva</a></li>
                </ul>
              </div> -->
          </mat-card>
        </div>
      </mat-grid-list>
    </mat-card-content>
  </div>
</mat-toolbar>

