<mat-card class="">
  <mat-card-title class="title"> Usuario </mat-card-title> 
  <img class="flex flex--center" src="assets/img/logo.png"><hr>
  <mat-card-content>
    <mat-list>
      <mat-list-item>Nombres: Carlos Roberto</mat-list-item>
      <mat-list-item>Apellidos: Escobar Soria</mat-list-item>
      <mat-list-item>Fecha de nacimiento: 20/07/1992</mat-list-item>
      <mat-list-item>Carrera: Ing. Informatica</mat-list-item>
      <mat-list-item>Gestion: II-2018</mat-list-item>
      <mat-list-item>Fecha: 3/12/2018</mat-list-item>
    </mat-list>
  </mat-card-content>  
</mat-card>
